= form_for user, :as => :user, :url => user_path(user), :html => { :method => :put } do |f|
  = render "shared/error_messages", :target => f.object

  %p
    %label Email
    .input
      = f.text_field :email

  %p
    %label Location
    .input
      = f.text_field :location
  %p
    %label Institution
    .input
      = f.text_field :institution
  %p
    %label Telephone
    .input
      = f.text_field :telephone
  %p
    .input
      = f.submit 'Submit', :class => 'btn success'