= form_for user, :html => { :method => :put } do |f|
  %p
    %label Location
    .input
      = f.text_field :location
  %p
    %label Institution
    .input
      = f.text_field :institution
  %p
    %label Telephone
    .input
      = f.text_field :telephone
  %p
    .input
      = f.submit 'Submit', :class => 'btn success'