= form_for user, :as => :user, :url => user_path(user), :html => { :method => :put } do |f|
  = render "shared/error_messages", :target => f.object

  %p
    %label Email
    .input
      = f.text_field :email

  %p
    %label Age
    .input
      = f.text_field :age
  %p
    %label Location
    .input
      = f.text_field :location
  %p
    %label Gender
    .input
      = f.select :gender, User::GENDERS
  %p
    %label Bio
    .input
      = f.text_area :bio
  %p
    .input
      = f.submit 'Change personal info', :class => 'btn success'