#profile_container
  = link_to 'Back to list of users', root_url
  .row
    .span8
      %h1 #{current_user.username || "User ##{current_user.id}"} (#{current_user.role.camelize})
      = render 'nav', :sel=>'profile'
      #profile
        = render 'profile', :user => current_user
      #earnings
        = render 'earnings', :user => current_user
      #auth_methods
        = render 'auth_methods', :user => current_user
        
    .span8
      = render 'created_games', :user => current_user if current_user.researcher?
      #games
        = render 'games', :user => current_user
