<%= devise_error_messages! %>

<div>
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</div>

<div>
  <%= f.label :email %><br />
  <%= f.email_field :email %>
</div>

<div>
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>

<div>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</div>

<div>
  <%= f.label :role, 'I am a' %><br />
  <%= f.select :role, User::ROLES %>
</div>

<div>
  <%= f.label :gender %>
  <%= f.select :gender, User::GENDERS %>
</div>