- head do
  :javascript
    $(document).ready(function(){
      $(".chzn-select").chosen();
      $('#autocomplete').autocomplete({source: '/users', minLength: 3});
    })

.span8
  = nested_form_for(resource, :html => {:multipart => true}) do |f|
    %fieldset
      = render "shared/error_messages", :target => f.object

      - if resource.owner?(current_user)
        .clearfix.width_700
          = f.fields_for :contributors do |contributors|
            = contributors.select :user_id, Researcher.except_me(current_user).all.collect{|r| [r.username, r.id] }, {}, :data => {:placeholder => 'Select a contributor'}, :class => 'chzn-select chzn-done'
            = contributors.select :role, UserExperiment::ROLES.except(:owner), {}, :data => {:placeholder => 'Select a role'}, :class => 'chzn-select chzn-done'
            = contributors.link_to_remove "Remove this contributor"
          = f.link_to_add "Add a contributor", :contributors

      .clearfix
        = f.label :draft
        = f.check_box :draft

      .clearfix
        = f.label :public
        = f.check_box :public

      .clearfix
        = f.label :name
        = f.text_field :name

      .clearfix
        = f.label :short_description
        = f.text_area :short_description, :cols => 15, :rows => 5

      .clearfix
        = f.label :title
        = f.text_field :title

      .clearfix
        = f.label :description
        = f.text_field :description

      .clearfix
        = f.label :init_endow
        = f.text_field :init_endow

      .clearfix
        = f.label :cost_defect
        = f.text_field :cost_defect

      .clearfix
        = f.label :cost_coop
        = f.text_field :cost_coop

      .clearfix
        = f.label :totalplayers
        = f.text_field :totalplayers

      .clearfix
        = f.label :humanplayers
        = f.text_field :humanplayers

      .clearfix
        = f.label :contprob
        = f.text_field :contprob

      .clearfix
        = f.label :ind_payoff_shares
        = f.text_field :ind_payoff_shares

      .clearfix
        = f.label :exchange_rate
        = f.text_field :exchange_rate

      - if resource.source_codes.any?
        .clearfix
          %p.toggle= link_to "Toggle previous versions", "#"
          .toggled_block.hide
            - resource.source_codes.each do |sc|
              = link_to sc.created_at.to_s(:short), sc.file.url
              %br
      = f.fields_for :source_codes, f.object.source_codes.build do |sc|
        = sc.label :file, 'Source Code'
        = sc.file_field :file

      - if resource.bin_files.any?
        .clearfix
          %p.toggle= link_to "Toggle previous versions", "#"
          .toggled_block.hide
            - resource.bin_files.each do |bf|
              = link_to bf.created_at.to_s(:short), bf.file.url
              %br
      .clearfix
        = f.fields_for :bin_files, f.object.bin_files.build do |bf|
          = bf.label :file, 'Bin File'
          = bf.file_field :file

      .clearfix
        = f.submit :class => 'btn primary large'